{% extends 'base.html.twig' %}

    {% block content %}
        <canvas id="canvas" width="500" height="500" style="border:2px solid black;"></canvas>

        <button type="button" name="button" id='player1'>PLAYER 1</button>
        <button type="button" name="button" id='player2'>PLAYER 2</button>
        <button type="button" name="start" id='start'>START</button>
        <button type="button" name="button" id ='computer_moves'>RUN COMPUTER</button>

        {% if edit %}
            <button type="button" name="button" id='player2'>PLAYER 2</button>
            <button type="button" name="button" id='wall'>WALL</button>
            <button type="button" name="button" id='erase'>Erase</button>

            <div class = "form-group">
                <label for="title">Give your map a title</label>
                <input type="text" name="title" id="title" value="map" required>
                <label for="type">What type of map will this be?</label>
                <select name="type" id="type">
                    <option value = 0>PvP</option>
                    <option value = 1>Scenario</option>
                </select>
            </div>

            <button type="button" name="save" id='save'>SAVE</button>
        {% endif %}
        <div>
          <button type="button" id="deleteAll"><a href="/deleteAll">Delete</a></button>
            <h3 id="end-game"></h3>
        </div>
    {% endblock %}
